#men{
  position: fixed;

    top: 0;
  z-index: 50;
  height: 100%;
}
.menu {
  position: absolute;
  z-index:52;
  left: 83vw;
  top:4vw;
}

.menu p::first-letter{
  font-size: 10vw;
}
.menu span {
  font-size:10vw;
  position: absolute;
  border: 3px solid white;

  background-color: rgba(0,0,0,0.4);
  color: white;
  width: 15vw;
  height: 15vw;
  transition: all 0.3s ease-in-out;
}
.menu span.hidden {
  visibility: hidden;
}

.menu span:nth-child(n) {
  background-color: rgba(0,0,0,0.4);
  color: white;
  text-align: center;
  padding: 2vw 1vw 0 1vw;
  font-size: 4vw;
}
.menu span:nth-child(1).show {
    font-family: 'Electrolize', sans-serif;
  -webkit-transform: rotate(180deg) translate(70vw) rotate(180deg);/*左から絶対回転バートの距離・相対回転*/
          transform: rotate(180deg) translate(70vw) rotate(180deg);
}

.menu span:nth-child(2).show {
    font-family: 'Electrolize', sans-serif;
  -webkit-transform: rotate(160deg) translate(70vw) rotate(180deg);/*左から絶対回転バートの距離・相対回転*/
          transform: rotate(160deg) translate(70vw) rotate(180deg);
}

.menu span:nth-child(3).show {
  font-family: 'Electrolize', sans-serif;
  -webkit-transform: rotate(140deg) translate(70vw) rotate(180deg);
          transform: rotate(140deg) translate(70vw) rotate(180deg);
}

.menu span:nth-child(4).show {
  font-family: 'Electrolize', sans-serif;
  -webkit-transform: rotate(120deg) translate(70vw) rotate(180deg);
          transform: rotate(120deg) translate(70vw) rotate(180deg);
}

.menu span:nth-child(5).show {
  font-family: 'Electrolize', sans-serif;
  -webkit-transform: rotate(100deg) translate(70vw) rotate(180deg);
          transform: rotate(100deg) translate(70vw) rotate(180deg);
}
.menu span:nth-child(6).show {
  width: 8vw;
  height: 8vw;
  font-family: 'Electrolize', sans-serif;
  -webkit-transform: rotate(120deg) translate(90vw) rotate(180deg);
          transform: rotate(120deg) translate(90vw) rotate(180deg);
}

.menu span:nth-child(7).show {
  width: 8vw;
  height: 8vw;
  font-family: 'Electrolize', sans-serif;
  -webkit-transform: rotate(120deg) translate(105vw) rotate(180deg);
          transform: rotate(120deg) translate(105vw) rotate(180deg);
}

.menu span:nth-child(8).show {
  width: 8vw;
  height: 8vw;
  font-family: 'Electrolize', sans-serif;
  -webkit-transform: rotate(120deg) translate(120vw) rotate(180deg);
          transform: rotate(120deg) translate(120vw) rotate(180deg);
}

.menu span:nth-child(9).show {
  width: 8vw;
  height: 8vw;
  -webkit-transform: rotate(100deg) translate(90vw) rotate(180deg);
          transform: rotate(100deg) translate(90vw) rotate(180deg);
}

.menu span:nth-child(10).show {
  width: 8vw;
  height: 8vw;
  -webkit-transform: rotate(100deg) translate(105vw) rotate(180deg);
          transform: rotate(100deg) translate(105vw) rotate(180deg);
}

.menu span:nth-child(11).show {
  width: 15vw;
  height: 15vw;
  font-size: 10vw;
  -webkit-transform: rotate(110deg) translate(40vw) rotate(180deg);
          transform: rotate(110deg) translate(40vw) rotate(180deg);
}

.menu span:nth-child(12).show {
  width: 15vw;
  height: 15vw;
  font-size: 10vw;
  -webkit-transform: rotate(160deg) translate(40vw) rotate(180deg);
          transform: rotate(160deg) translate(40vw) rotate(180deg);
}


.menu span:nth-last-child(2){
  width: 200vw;
  height: 200vh;
  transform: translate(-100vw , -10vh);
}
.menu span:nth-last-child(2).show{
  border: 0px;
  border-radius: 0%;
  z-index: -1;
  background: rgba(0,0,0,0.7);
  mix-blend-mode: difference;
}

.menu span:nth-last-child(3){
  width: 10vw;
  height: 6vw;
  padding: 2vw 0;
  color: rgba(255,255,255,1);
  border: 3px solid white;
  font-size:6vw;
  z-index: 3;
}

.menu span:last-child {/*親の設定*/
  width: 10vw;
  height: 6vw;
  padding: 2vw 0;
  color: rgba(255,255,255,1);
  border: 3px solid white;
  font-size:6vw;
  z-index:5;
}