*{
  margin: 0px;
  padding: 0px;
}
body {
  background-color:white;
  font-size: 3vw;
  overflow: hidden;
}

.text{
    font-family: "Sawarabi Mincho"; 
    padding: 0 10vw;
    font-size: 3.5vw;
}

.title{
  padding : 50px 0;
  font-family: 'Electrolize', sans-serif;
  font-size: 12vw;
}

.spansize{
  padding: 20px 0;
}


a:link{color:white;}
a:visited{color:white;}
a:hover{color:white;}
a:active{color:white;}
a{text-decoration: none;}

.bar-top{
  position: fixed;
  height: 20vw;
  width: 100vw;
  z-index: 40;
  background-color: rgba(0,0,0,0);
  mix-blend-mode: difference;
  opacity :0.3;
}

.bar-top img{
  position: absolute;
  right: 0;
  width: 200px;
}

#particles {
  position: fixed;
  z-index: -5;
  width: 200vw;
  height: 100%;
  overflow: hidden;
}

#panel0{
  height: 160vw;
  width: 100%;
  z-index: 10;
  background-color: rgba(255,255,255,0);
  color: black;
  position: relative;
}

.panel1{
  width: 100%;
  z-index: 10;
  background-color: rgba(255,255,255,0.2);
  color: black;
  position: relative;
}

.panel2{
  width:100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.8);
  color: white;
  position: relative;
}
