*{
  margin: 0px;
  padding: 0px;
}
.wrap {
  width:100%;
	overflow: hidden;
}
body {
  background-color:white;
  font-size: 3vw;
}

.text{
    font-family: "Sawarabi Mincho"; 
    padding: 0 10vw;
    font-size: 3.5vw;
}

.title{
  padding : 50px 0;
  font-family: 'Electrolize', sans-serif;
  font-size: 12vw;
}

.spansize{
  padding: 20px 0;
}


a:link{color:white;}
a:visited{color:white;}
a:hover{color:white;}
a:active{color:white;}
a{text-decoration: none;}

.bar-top{
  position: fixed;
  height: 20vw;
  width: 100vw;
  z-index: 40;
  background-color: rgba(0,0,0,0);
  mix-blend-mode: difference;
  opacity :0.8;
}

#particles {
  position: fixed;
  z-index: -5;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#panel0{
  height: 750px;
  width: 100%;
  z-index: 10;
  background-color: rgba(255,255,255,0);
  color: black;
  position: relative;
}

.panel1{
  width: 100%;
  z-index: 10;
  background-color: rgba(255,255,255,0.2);
  color: black;
  position: relative;
}

.panel2{
  width:100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.8);
  color: white;
  position: relative;
}


.Line{
  border-right: 10px solid;
  background: gray;
  display: flex;
}

@keyframes rotate-anime {
  0%  {transform: rotate(0);}
  100%  {transform: rotate(360deg);}
}

.Line li{
  list-style: none;
  position: absolute;
  border-radius: 50%;
  border: 2px solid skyblue;;
  animation: rotate-anime 3s linear infinite;
  }

.Line li:first-child{
width: 160px;
height: 160px;
right: -80px;
top:-80px;
border: 4px solid skyblue;;
animation: rotate-anime 5s linear infinite;
}

.Line li:nth-child(2){
width: 140px;
height: 140px;
right: -70px;
top:-70px;
animation: rotate-anime 9s linear infinite;
}

.Line li:nth-child(3){
width: 140px;
height: 140px;
right: -70px;
top:-70px;
animation: rotate-anime 4s linear infinite;
}

.Line li:last-child{
width: 60px;
height: 60px;
right: -30px;
top:-30px;
}

.Line li .box{
  position: absolute;
  width:20px;
  height: 20px;
  background: skyblue;
  border: 2px solid white;
  right: 15%;
  transform: rotateZ(60deg);
  animation: rotate-anime 3s linear infinite;
}

.Line li:nth-child(3) .box{
  border-radius: 50%;
}

.Line li:last-child .box{
  width:10px;
  height: 10px;
  right: 10%;
}
