.title{
    width: 100%;
    height: auto;
    background-color: transparent;
    margin: 0 auto;
    padding: 50px 0;
    letter-spacing: 5px;
}
.title p{
    text-align: center;
}
.title :first-child{
    font-size:40px;
}
.title :last-child{
    font-size:20px;
}

.box{
    text-align: center;
    width: 100%;
    background-color: transparent;
}

img{
    height: auto;
    width: 100%;
}

.panel p{
    text-align: left;
    word-wrap: break-word;
    font-size: 13px;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
}
.panel p:first-child{
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 30px;
}


@media (min-width: 801px) {
    .panel{
    display: inline-block;
    position: relative;
    margin: 20px 30px;
    height: auto;
    width:35%;
    max-width: 350px;
    min-height: 350px;
    color: black;
    border-radius: 5px;
    vertical-align: top;
  }
  .comment{
    position: absolute;
    bottom: 0;
    }
}

@media (max-width: 800px) {
    .panel{
        display: block;
        width:60%;
        margin: 30px auto;
        max-width: 300px;
    }
}
