.index{
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

@media (max-width:800px){
.index ul{
    display: block;
    }
    
    .index ul li{
        margin: 20px 10px 0 20px;

    }
}
@media (min-width:801px){
    .index ul{
        display: inline-flex;
        }
        .index ul li hr{
            margin-top: 20px;
        }
    }
.index ul li{
    font-size: 25px;
    list-style: none;
    transform: rotate(-45deg);
    position: relative;
}

.index ul li hr{
    width: 100px;
    /* margin: 0 auto; */
}

#li_1,#li_3{
    top: -1000px;
}
#li_2,#li_4{
    top: 1000px;
}

#hr_1,#hr_2,#hr_3{
    top:1000px;
    left: -500px;
}

hr{
    height: 2px;
    border: solid 1px;
}

#border{
    position: absolute;
    width: 0px;
    top: 0px;
    right: 0px;
    height: 180px;
    background-color: black;
    transform: rotate(0);
}