

#Work{
text-align: center;
}

#Design{
  display: block;
  margin: auto;
}

#Photo{
  display: block;
  margin: auto;
}

#Application{
  display: block;
  margin: auto;
}

#Application img{
  width: 40vw;
  margin-bottom: 50px;
}

.App-name{
  font-size:10vw;
  padding: 30px 0;
  text-align: center;
}

#Contact{
  display: block;
  font-family: 'Electrolize', sans-serif;
  text-align: center;  
}

#Contact .text{
  font-family: 'Electrolize', sans-serif;
  font-size: 4vw;
}

#nav ul {
list-style-type: none; /*箇条書きのポッチを消す*/
text-align:center /*左右中央寄せは親要素に対して指定*/
}

/* ↓id="nav"の中のulの中のliに対してCSSを適用*/
#nav ul li { 
  display: inline-block;/*inline-blockにします*/
  width: auto;/*幅も指定できる*/
  height: 20vw;/*高さも指定できる*/
  padding: 10px 0;/*余白も指定できる*/
  margin: 10px 0;/*余白も指定できる*/
  vertical-align: middle;/*縦の表示位置も指定できる*/
  }

#nav ul li img{
  width: 20vw;
  height: 20vw;
}
