
.panel{
    margin: 20px auto;
    height: auto;
    width:80%;
    max-width: 400px;
    z-index: 5;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 2px 2px black;
    border: solid 1px black;
    text-align: center;
  }
  @media (max-width:900px){
    .panel{
        max-width: 300px;
    }
    .panel p{
        padding: 10px 5%;
      }
  }
  @media (max-width:600px){
    .panel{
        width: 95%;
    }
    .panel p{
        padding: 8px 1%;
      }
  }
  @media (min-width:901px){
    .panel p{
        padding: 20px 10%;
      }
  }

  .panel p{
    padding: 20px 5%;
    font-size: 20px;
    font-family: 'M PLUS 1p', sans-serif;
  }
  .panel p:last-child{
    /* 本文 */
    font-size: 15px;
}

  .inline{
      width: 90%;
      margin-left: 5%;
      display: inline-flex;
      flex-wrap: wrap;
      background-color: white;
  }

.photo{
    width: 50%;
    margin: 50px auto 0px auto;     
}
    .iconButton{
        background-color: white;
        border-style: none;
    }
    .iconButton img{
        width: auto;
        height: auto;
        max-width: 100%;
    }

